*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    font-family: "Open Sans", sans-serif;
}
header{
   background-color:#FFF8F3 ; 
   padding-top: 50px;
}
nav{
    width: 70%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo h2{
    font-size: 45px;
    font-weight: bolder;
}
.color-orange{
    color:#FD6E0A ;
}
 nav,.menu{
    display: flex;
    align-items: center;
    gap: 50px;
    list-style: none;
}
nav,.menu a{
    font-size: 20px;
    color: #474747;
    text-decoration: none;

}
.btn{
    background-color: #FD6E0A;
    border: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    padding: 18px 35px;

}
